[submodule "fsw"]
	path = fsw
	url = https://github.com/TrySpaceOrg/tryspace-fsw.git
	branch = main
[submodule "comp/demo"]
	path = comp/demo
	url = https://github.com/TrySpaceOrg/tryspace-comp-demo.git
	branch = main
[submodule "simulith"]
	path = simulith
	url = https://github.com/TrySpaceOrg/tryspace-simulith.git
	branch = main
[submodule "gsw"]
	path = gsw
	url = https://github.com/TrySpaceOrg/tryspace-ext-yamcs.git
	branch = master
[submodule "atlas"]
	path = atlas
	url = https://github.com/TrySpaceOrg/TrySpaceOrg.github.io.git
	branch = main
[submodule "comp/eps"]
	path = comp/eps
	url = https://github.com/TrySpaceOrg/tryspace-comp-eps.git
	branch = main
[submodule "comp/radio"]
	path = comp/radio
	url = https://github.com/TrySpaceOrg/tryspace-comp-radio.git
	branch = main
[submodule "comp/cryptolib"]
	path = comp/cryptolib
	url = https://github.com/TrySpaceOrg/tryspace-ext-cryptolib.git
	branch = dev
